.search-form {
  width: 11.5em;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 6px;
  border: 1px solid #192e31;
  border-radius: 5px;
  box-shadow: #192e31 0px 5px 5px 0;
}
.search-form:hover {
  color: #192e31;
}
.Button {
  min-width: 5.5em;
  text-align: left;
  margin: 0.2em 0;
  color: white;
  background-color: #192e31;
  border-color: #192e31;
  padding: 6px;
  border: 1px solid#192e31;
  border-radius: 5px;
  box-shadow: #192e31 0px 5px 5px 0;
}
.Button:hover {
  color: white;
  border-color: #192e31;
  background-color: rgba(25, 46, 49, 0.5);
}
